    <%- include('../partials/header'); %>
        <title><%=pageTitle%></title>
   
        <link rel="stylesheet" href="/css/auth-styles.css">
</head>
<body>
    

      <%- include('../partials/navigation'); %>

    <div class="container-fluid my-2">
        <div class="container" style="background-color: white;">
            <div class="row">
                <!--left navigation-->
                <div class="col-lg-2 p-3">
                    <p class="text-start"> <a href="/home">Home</a> </p>
                    <p class="text-start"> <a href="/trending">Trending</a> </p>
                 </div>
                 <!--left navigation ends-->

                <!-- Posts - List -Wrapper -->
                <div class="col-lg-8 p-3" >
                    <!-- Header  -->
                    <div style="width: 100%; background-color:white; padding:5%; border: 1px solid black; border-radius: 3px; display:none; " id="tag">
                        <h6>Tag with</h6>
                        <hr>
                        <input type="radio" name="">My watched tags<br><br>
                       <input type="radio" name="">Search tags <br><br>
                        <form class="d-flex">
                                        
                 <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                 <button class="btn btn-outline-success" type="submit">Search</button>
               </form>
                    </div>
                    <div style="background-color:white; width:100%; padding: 5%; border: 1px solid black; border-radius: 3px; display:none" id="sort">
                        <h6>Sort By</h6>
                        <hr>
                        <form>
                        <input type="radio" name=""> Latest first<br><br>
                        <input type="radio" name=""> Oldest first<br><br>
                        <input type="radio" name="">  Recently added<br><br>
                        <input type="radio" name=""> Frequently viewed
                        
                    </form>
                    </div>
                    <div class="p-3 my-3" style="position: relative; width: 100%;">
                        <div style="display: inline; width: 50%;">
                            <span class="text-start fs-3" > Top Articles</span>
                        </div>
                        <div style="display: inline;">
                            <a href="/compose" class="btn btn-primary" style="float: right;">  Compose </a>
                        </div>
                     </div>
                    <!-- Header CLosed-->
                    <!-- Posts list-->
                    <% for(let post of posts) { %>
                    <div class="p-3 container-fluid" style="position: relative; width: 100%; padding: 0;">
                       <div class="container">
                        <a href="/post/<%=post._id%>"><p class="text-start px-5 fs-5" style="padding-top: 8px;"><%=post.title %></p> </a>
                        <p class="text-start px-5 fs-7" style="color: grey; display: inline-block ; margin-top: 1px;"><%=post.meta %></p>
                        <p class="text-end  fs-7" style="color: grey;"><span><i class="material-icons" style="display: inline;">account_circle</i></span> <%=post.creator %></p>
                    <hr>  
                    </div>
                    </div>
                    <% } %>
             </div>

               <!--Right navigator -->
                <div class="col-lg-2  p-3">
                    <div class="card my-5" style="width: 18rem;">
                        <div class="card-header text-center" style=" font-family: 'Open Sans', sans-serif;">
                         <p>Featured</p> 
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item"  style=" font-family: 'Open Sans', sans-serif;">Get your posts featured and share your knowledge and Skills</li>
                        </ul>
                    </div>

                    <div class="card my-5" style="width: 18rem;">
                        <div class="card-header text-center" style=" font-family: 'Open Sans', sans-serif;">
                          <p>Tags</p>
                        </div>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item"  style=" font-family: 'Open Sans', sans-serif;">Follow tags to customise feed</li>
                        </ul>
                    </div>

                    <div class="card my-5" style="width: 18rem;">
                        <div class="card-header text-center" style=" font-family: 'Open Sans', sans-serif;">
                          <p>Filter</p>
                        </div>
                        <br>
 				<button style="width: 90%; background-color: white; padding: 6%; border-bottom: 1px solid grey; border-top: none; border-left: none;   border-right: none; margin-left: 5%; margin-right: 5%;" onclick="tag()">Tagged Questions</button>
 				<button style="width: 90%; background-color: white; margin-left: 5%; padding: 6%; border-bottom: 1px solid grey; border-top: none; border-left: none;   border-right: none;" onclick="sort()">Sort Questions</button>
 				<button style="width: 90%; background-color: white; margin-left: 5%; padding: 6%; border: none; ">Recently viewed</button><br>
                    </div>

                </div>
            </div>
        </div>
    </div>
    
    <%- include('../partials/footer'); %>
</body>
<script type="text/javascript">
	function tag() {
		
		let a=document.getElementById('tag');
		let b=document.getElementById('sort');
		if(a.style.display == "none"){
		a.style.display="inherit";
		b.style.display="none";
	}
	else
		a.style.display="none";
	}
	function sort() {
		let a=document.getElementById('sort');
		let b=document.getElementById('tag');
		if(a.style.display == "none"){
		b.style.display="none";	
		a.style.display="inherit";
	}
	else
		a.style.display="none";
	}
</script>
</html>